<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
 internalLogLevel="Trace"
 internalLogFile="c:\temp\internal-nlog.txt">
  <!--  ASP.NET Core 使用 -->
  <extensions>
        <add assembly="NLog.Web.AspNetCore"/>      
  </extensions> 
  <targets>
    <!-- 全部日志文件 -->
    <target xsi:type="File" 
            name="allfile" 
            fileName="c:\temp\nlog-all-${shortdate}.log" 
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <!-- 自定义记录的日志文件 -->
    <target xsi:type="File" 
            name="ownFile" 
            fileName="c:\temp\nlog-own-${shortdate}.log" 
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
    <target xsi:type="Null" name="blackhole"/>
    <!-- 数据库插入日志记录 -->
    <target xsi:type="Database" 
            name="db"  
            dbProvider="mssql" 
            commandText="Insert into NLog_Record(time_stamp, level, host, url, type, source, logger, message, stacktrace, detail) Values(@time_stamp, @level, @host, @url, @type, @source, @logger, @message, @stacktrace, @detail);" 
            connectionString="server=192.168.1.126;Database=his_tangshan;User ID=sa;Password=qwe123;">      
      <!--<parameter name="@time_stamp" layout="${longdate}" />-->
      <parameter name="@time_stamp" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} " />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@url" layout="${aspnet-request:serverVariable=url}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@detail" layout="${exception:format=tostring}" />
    </target>
  </targets>

  <rules>
    <!--所括asp.net core下的全部日志-->
    <logger name="*" minlevel="Trace" writeTo="allfile,db"/>
    <!--仅自定义记录的日志文件-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="ownFile"/>
  </rules>
</nlog>