@{
    ViewData["Title"] = "用户角色设置";
}
@section css{
    <link rel="stylesheet" href="~/css/style.css" />
}
<h3>用户角色设置</h3>

<div class="row" style="text-align:right;margin-bottom:10px;margin-right:10px;">
    <button onclick="SavaUserRole()" class="btn btn-success">保存</button>
</div>
<div class="containers" style="margin-bottom: 10px;">
    <div class="leftBox" id="users">
        <div class="topBox">
            <img src="~/images/admin.png" alt="" />
            <h1>用户列表</h1>
        </div>
        <div class="searchBox">
            <input type="text" v-model='search' />
        </div>
        <div class="bottomBox">
            <table cellpadding="0" cellspacing="0" class="table" id="tableOne">
                <tr v-for="user in searchusers">
                    <td align="center"><input type="radio" name="user" v-on:change="ChangeUser" v-model="selected" v-bind:value="user.id" /></td>
                    <td v-html="user.name"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="middleBox" id="roles">
        <div class="topBox">
            <img src="~/images/role.png" alt="" />
            <h1>归属角色</h1>
        </div>
        <div class="bottomBoxTwo">

            <table cellpadding="0" cellspacing="0" class="table" id="tableTwo">
                <tr v-for="role in roles">
                    <td align="center"><input type="checkbox" v-model="checkedID" class="input_check" v-bind:value="role.id"></td>
                    <td v-html="role.rolename"></td>
                </tr>

            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(function () {
            LoadUserRole();
        })
        //加载全部用户角色权限
        function LoadUserRole() {
            $.ajax({
                method: "GET",
                url: '/getuserrole',
                data: {
                },
                success: function (backData) {
                    if (backData.result == 1) {
                        //用户
                        LoadUser(backData.data.users);
                        //角色
                        LoadRole(backData.data.roles);
                    }
                    else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })
        }
        var userVue = null;
        //加载全部用户
        function LoadUser(users) {
            userVue = new Vue({
                el: '#users',
                data: {
                    search: '',
                    selected: (users.length > 0 ? users[0].id : 0),
                    users: users
                },
                computed: {
                    searchusers: function () {
                        var _search = this.search;
                        if (_search) {
                            return this.users.filter(function (user) {
                                return Object.keys(user).some(function (key) {
                                    return String(user[key]).toLowerCase().indexOf(_search) > -1
                                })
                            })
                        }
                        return this.users;
                    }
                },
                methods: {
                    ChangeUser: function () {
                        LoadRoleByUserID(this.selected);
                    }
                }
            })
            LoadRoleByUserID(users[0].id);
        }
        //按用户ID查询角色
        function LoadRoleByUserID(userid) {
            $.ajax({
                method: "GET",
                url: '/getrolebyuserid',
                data: {
                    userid: userid
                },
                success: function (backData) {
                    if (backData.result == 1) {
                        var roles = new Array()
                        $.each(backData.data, function (n, item) {
                            roles.push(item.id);
                        });
                        roleVue.checkedID = roles;
                    }
                    else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })
        }

        var roleVue = null;
        //加载全部角色
        function LoadRole(roles) {
            roleVue = new Vue({
                el: '#roles',
                data: {
                    selected: (roles.length > 0 ? roles[0].id : 0),
                    roles: roles,
                    checkedID: []
                }
            })

        }
        //保存用户角色
        function SavaUserRole() {

            $.ajax({
                method: "POST",
                url: '/savauserrole',
                data: {
                    userid: userVue.selected,
                    roleids: roleVue.checkedID
                },
                success: function (backData) {
                    if (backData.result == 1) {
                        console.log("添加成功")
                    }
                    else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })

        }
    </script>
    <script type="text/javascript" src="~/js/style.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/js/vue.min.js"></script>
}
