
@{
    ViewData["Title"] = "用户角色权限设置";
}

@section css{
    <link rel="stylesheet" href="css/metroStyle/metroStyle.css" />
    <link rel="stylesheet" href="css/style.css" />
}
<h3>用户角色权限设置</h3>
<div class="containers">
    <div class="leftBox" id="users">
        <div class="topBox">
            <img src="images/admin.png" alt="" />
            <h1>用户列表</h1>
        </div>
        <div class="searchBox">
            <input type="text" v-model='search' />
        </div>
        <div class="bottomBox">
            <select v-model="selected" v-on:change="ChangeUser" multiple style="width:100%;height:400px;">
                <option v-for="user in items" v-bind:value="user.id">{{user.name}}</option>
            </select>
        </div>
    </div>
    <div class="middleBox" id="roles">
        <div class="topBox">
            <img src="images/role.png" alt="" />
            <h1>归属角色</h1>
        </div>
        <div class="bottomBox">    
            <div v-for="role in roles">
                <input type="checkbox" v-bind:id="role.id" v-bind:value="role.rolename">
                <label>{{role.rolename}}</label>
            </div>
        </div>
    </div>
    <div class="rightBox">
        <div class="topBox">
            <img src="images/authority.png" alt="" />
            <h1>访问权限</h1>
        </div>
        <div class="content_wrap">
            <div class="zTreeDemoBackground">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="js/style.js"></script>
    <script>
        $(function () {
            LoadURP();
        })
        //加载全部用户角色权限
        function LoadURP() {
            $.ajax({
                method: "GET",
                url: 'all_urp',
                data: {
                },
                success: function (backData) {
                    if (backData.result == 1) {
                        //用户
                        LoadUser(backData.data.users);
                        //角色
                        LoadRole(backData.data.roles);
                        //权限
                        LoadPermission(backData.data.permissions);
                    }
                    else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })
        }
        var userVue = null;
        //加载用户Vue
        function LoadUser(users) {
            if (userVue == null) {
                userVue = new Vue({
                    el: '#users',
                    data: {
                        search: '',
                        selected: (users.length > 0 ? users[0].id : 0),
                        users: users
                    },
                    computed: {
                        items: function () {
                            var _search = this.search;
                            if (_search) {
                                return this.users.filter(function (user) {
                                    return Object.keys(user).some(function (key) {
                                        return String(user[key]).toLowerCase().indexOf(_search) > -1
                                    })
                                })
                            }
                            return this.users;
                        }
                    },
                    methods: {
                        ChangeUser: function () {
                            console.log(this.selected);
                        }
                    }
                })
            } else {
                if (users.length > 0) {
                    userVue.selected = users[0].id
                }
                userVue.users = users;
            }
        }
        //加载角色Vue
        function LoadRole(roles) {

            new Vue({
                el: '#roles',
                data: {
                    selected: (roles.length > 0 ? roles[0].id : 0),
                    roles: roles
                }
            })

        }
        function LoadPermission(permissions) {

            var setting = {
                view: {

                    selectedMulti: false
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },

            };

            var zNodes = permissions;

            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            });

        }
    </script>

}
