
@{
    ViewData["Title"] = "用户角色权限设置";
}

@section css{
    <link rel="stylesheet" href="css/metroStyle/metroStyle.css" />
    <link rel="stylesheet" href="css/style.css" />
}
<h3>用户角色权限设置</h3>
<div class="containers">
    <div class="leftBox" id="users">
        <div class="topBox">
            <img src="images/admin.png" alt="" />
            <h1>用户列表</h1>
        </div>
        <div class="searchBox">
            <input type="text" v-model='search' />
        </div>
        <div class="bottomBox">

            <table cellpadding="0" cellspacing="0" class="table" id="tableOne">
                <tr v-for="item in items">
                    <td align="center" v-html="item.id"></td>
                    <td v-html="item.name"></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="middleBox" id="roles">
        <div class="topBox">
            <img src="images/role.png" alt="" />
            <h1>归属角色</h1>
        </div>

        <div class="searchBox">
            <input type="text" v-model='search' />
        </div>
        <div class="bottomBox">

            <table cellpadding="0" cellspacing="0" class="table" id="tableTwo">
                <tr v-for="item in items">
                    <td align="center"><input type="checkbox" class="input_check"><label for="check3"></label>@*<input type="checkbox" checked="" v-model="item.id" />*@</td>
                    <td v-html="item.rolename"></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="rightBox">
        <div class="topBox">
            <img src="images/authority.png" alt="" />
            <h1>访问权限</h1>
        </div>
        <div class="content_wrap">
            <div class="zTreeDemoBackground">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="js/style.js"></script>
    <script>
        $(function () {
            LoadURP();
        })
        //加载全部用户角色权限
        function LoadURP() {
            $.ajax({
                method: "GET",
                url: 'all_urp',
                data: {
                },
                success: function (backData) {
                    if (backData.result == 1) {
                        //用户
                        LoadUser(backData.data.users);
                        //角色 
                        LoadRole(backData.data.roles);
                        //权限 
                        LoadPermission(backData.data.permissions);
                    }
                    else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })
        }
        //加载用户Vue
        function LoadUser(users)
        {        
            new Vue({
                el: '#users',
                data: {
                    search: '',
                    users: users
                },
                computed: {
                    items: function () {
                        var _search = this.search;
                        if (_search) {
                            return this.users.filter(function (user) {
                                return Object.keys(user).some(function (key) {
                                    return String(user[key]).toLowerCase().indexOf(_search) > -1
                                })
                            })
                        }
                        return this.users;
                    }
                }
            })

        }
        //加载角色Vue
        function LoadRole(roles) {

            new Vue({
                el: '#roles',
                data: {
                    search: '',
                    roles: roles
                },
                computed: {
                    items: function () {
                        var _search = this.search;
                        if (_search) {
                            return this.roles.filter(function (role) {
                                return Object.keys(role).some(function (key) {
                                    return String(role[key]).toLowerCase().indexOf(_search) > -1
                                })
                            })
                        }
                        return this.roles;
                    }
                }
            })

        }
        function LoadPermission(permissions)
        {
            console.log(permissions);
            var setting = {
                view: {

                    selectedMulti: false
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },

            };

            var zNodes = permissions;

            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            });

        }
    </script>

}
